/* css/footer.css */
.footer {
	width: 100vw !important;
	position: relative !important;
	left: 50% !important;
	right: 50% !important;
	margin-left: -50vw !important;
	margin-right: -50vw !important;
	padding: 40px 0;
}

.footer__container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--meta-color);
	font-size: 16px;
	font-weight: 600;
}

.footer-right {
	display: flex;
	align-items: center;
	gap: 40px;
}

.footer-right span:hover {
	color: var(--title-color);
	transition: color 0.3s ease-in-out;
	cursor: pointer;
}

.footer-copyright {
	opacity: 0.5;
}

@media (max-width: 780px) {
	.footer__container {
		padding: 0 10px;
	}
}


@media (max-width: 640px) {

	.footer {
		padding: 20px 0;
	}

	.footer__container {
		padding: 0 15px;
	}

	.footer__inner {
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
	}

	.footer-right {
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
	}
}

@media(max-width: 550px) {
	.footer__container {
		padding: 0 10px;
	}
}